<h1></h1>
<div class="right-content-heading">
  <div class="right-content-heading-left">
    <h3>Listing Competitions</h3>
  </div>
  <!-- <div class="right-content-heading-right">
    <div class="social-icons">
              <ul>
                  <li><a class="facebook" href="#" target="_blank"> </a></li>
                  <li><a class="twitter" href="#" target="_blank"></a></li>
                  <li><a class="googleplus" href="#" target="_blank"></a></li>
                  <li><a class="pinterest" href="#" target="_blank"></a></li>
                  <li><a class="dribbble" href="#" target="_blank"></a></li>
                  <li><a class="vimeo" href="#" target="_blank"></a></li>
              </ul>
    </div>
  </div> -->
  <div class="clear"> </div>
</div>

<table>
  <thead>
<!--     <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Start date</th>
      <th>Period</th>
      <th>Prize</th>
      <th>Prize num</th>
      <th>Poster</th>
      <th colspan="3"></th>
    </tr> -->
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <!-- <td><%= competition.title %></td>
        <td><%= competition.desc %></td>
        <td><%= competition.start_date %></td>
        <td><%= competition.period %></td>
        <td><%= competition.prize %></td>
        <td><%= competition.prize_num %></td>
        <td><%= competition.poster %></td> -->
        <td>
        <div class="comp-desc-left">
      <p>

        <%= link_to image_tag(full_url(competition.poster)), "competitions/#{competition.id}" %>
      </p>
    </div>
    <div class="comp-desc-right">
      <p id="notice"><%= notice %></p>
      <p>
        <strong><h1>Title:<%= link_to "#{competition.title}", "competitions/#{competition.id}" %></h1></strong>
      </p>
      <p>
        <strong>Desc:</strong>
        <%= competition.desc %>
      </p>

      <p>
        <strong>Start date:</strong>
        <%= competition.start_date %>
      </p>

      <p>
        <strong>Period:</strong>
        <%= competition.period %>
      </p>

      <p>
        <strong>Prize:</strong>
        <%= competition.prize %>
      </p>

      <p>
        <strong>Prize num:</strong>
        <%= competition.prize_num %>
      </p>
      
    </div>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
