<h1></h1>
<div class="right-content-heading">
  <div class="right-content-heading-left">
    <h3>Listing Competitions</h3>
  </div>
  <!-- <div class="right-content-heading-right">
    <div class="social-icons">
              <ul>
                  <li><a class="facebook" href="#" target="_blank"> </a></li>
                  <li><a class="twitter" href="#" target="_blank"></a></li>
                  <li><a class="googleplus" href="#" target="_blank"></a></li>
                  <li><a class="pinterest" href="#" target="_blank"></a></li>
                  <li><a class="dribbble" href="#" target="_blank"></a></li>
                  <li><a class="vimeo" href="#" target="_blank"></a></li>
              </ul>
    </div>
  </div> -->
  <div class="clear"> </div>
</div>
<div class="video-index">
  <ul>
    <% @competitions.each do |competition| %>
      <li>
      <%= link_to "competitions/#{competition.id}" do %>
        <%= link_to image_tag(full_url(competition.poster), :style=> "max-height:100px;"), "competitions/#{competition.id}" %>
        <h3><%= link_to "#{competition.title}", "competitions/#{competition.id}" %></h3>
        <p><%= competition.desc %></p>
        <table>
          <tbody>
            <tr>
              <td style="padding: 10px 20px 10px 0px;">
                <a href="#" class="ph-button ph-btn-green">
                  Prize Money: $<%= competition.prize %> 
                </a>
              </td>
              <td style="padding: 10px 20px 10px 0px;">
                <a href="#" class="ph-button ph-btn-blue">
                  Top <%= competition.prize_num %> <%= 'Entry'.pluralize(competition.prize_num) %> win 
                </a>
              </td>
              <td style="padding: 10px 20px 10px 0px;">
                <a href="#" class="ph-button ph-btn-red">
                  <% if Date.today.mjd - competition.start_date.mjd > competition.period %>
                  Competition Over
                  <% else %>
                  <%= competition.period - (Date.today.mjd - competition.start_date.mjd) + 1 %> <%= 'day'.pluralize(competition.period - (Date.today.mjd - competition.start_date.mjd) + 1) %> left
                  <% end %>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
