<div class="right-content-heading">
  <div class="right-content-heading-left">
    <% if @is_search %>
    <h3>Search Results for <span class="keyword">"<%= @param%>"</span></h3>
    <% else %>
    <h3><%= @competition.title %></h3>
    <% end %>
  </div>
  <div class="right-content-heading-right">
    <div class="social-icons">
      <ul>
        <li><a class="facebook" href="#" target="_blank"></a></li>
        <li><a class="twitter" href="#" target="_blank"></a></li>
        <li><a class="googleplus" href="#" target="_blank"></a></li>
        <li><a class="pinterest" href="#" target="_blank"></a></li>
        <li><a class="dribbble" href="#" target="_blank"></a></li>
        <li><a class="vimeo" href="#" target="_blank"></a></li>
      </ul>
    </div>
  </div>
  <div class="clear"> </div>
</div>

<div class="video-show" style="background:#eee; margin-bottom:20px;">
  <ul>
      <li>
        <%= image_tag(full_url(@competition[:poster]), :style=> "max-height:100px;") %>
        <h3><%= @competition.title.humanize %></h3>
        <p><%= @competition.desc %></p>
        <table>
          <tbody>
            <tr>
              <td style="padding: 10px 20px 10px 0px;">
                <a href="#" class="ph-button ph-btn-green">
                  Prize Money: $<%= @competition.prize %> 
                </a>
              </td>
              <td style="padding: 10px 20px 10px 0px;">
                <a href="#" class="ph-button ph-btn-blue">
                  Top <%= @competition.prize_num %> <%= 'Entry'.pluralize(@competition.prize_num) %> win 
                </a>
              </td>
              <td style="padding: 10px 20px 10px 0px;">
                <a href="#" class="ph-button ph-btn-red">
                  <% if Date.today.mjd - @competition.start_date.mjd > @competition.period %>
                  Competition Over
                  <% else %>
                  <%= @competition.period - (Date.today.mjd - @competition.start_date.mjd) + 1 %> <%= 'day'.pluralize(@competition.period - (Date.today.mjd - @competition.start_date.mjd) + 1) %> left
                  <% end %>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
  </ul>
  </div>

<div class="content-grids">
  <div>
  <ul class="video-browsing">
    <% if @videos.count == 0 %>
      <div>
        <span>There is no videos in this competition yet.</span>
      </div>
    <% else %>
      <% @videos.each do |v| %>
      <div class="content-grid">
        <%= link_to image_tag(full_url(v.poster_url)), "#{videos_path}/#{v.id}?cid=#{@competition.id}", title: v.title, class: "video-link", data: { no_turbolink: true } %>
        <h3><%= v.title %></h3>
        <%= render partial: "voting", locals: {video: v, competition_id: @competition.id} %>
        <%= link_to "Watch now", "#{videos_path}/#{v.id}?cid=#{@competition.id}", title: v.title, class: "button", data: { no_turbolink: true } %>
      </div>
      <% end %>
    <% end %>
  </ul>
  </div>
  <div class="clear"> </div>
  <%= will_paginate @videos %>
  <div class="clear"> </div>
</div>

