<div class="right-content-heading">
	<div class="right-content-heading-left">
		<% if @is_search %>
		<h3>Search Results for <span class="keyword">"<%= @param%>"</span></h3>
		<% else %>
		<h3>reviewing <%= @video.title%></h3>
		<% end %>
	</div>
	<div class="right-content-heading-right">
	</div>
	<div class="clear"> </div>
</div>
<div class="content-grids">
	<h1>Video Profile: </h1>
	<div class="video-profile">
		<div>Title: <%= @video.title %></div> 
		<div>Uploader: <%= @video.user.username %></div> 
	</div>
	<%= render partial: "video_profile", locals: {video: @video} %>
	

	<h1>Checklist: </h1>
	<%= form_tag({controller: 'admin', action: 'approve'}, method: 'post', :id => 'review-form') do%>
 
	<ol>
	    <li><%= label_tag '1', "The user\'s historical data is acceptable. (The user #{@video.user.username} has #{@denied_size} videos denied)" %>
	    <%= check_box_tag 'c1', '1' %></li>

	    <li><%= label_tag '2', 'The length is acceptable. (The length of the video is 0:32)' %>
	    <%= check_box_tag 'c2', '1' %></li>

	    <li><%= label_tag '3', 'The content and title of the video is acceptable.' %>
			<ol>

			<li><%= label_tag '3a', 'The title is consistent with the video content.' %>
		    <%= check_box_tag 'c3a', '1' %></li>
			<li><%= label_tag '3b', 'The video content is legal and does not violate any regulation.' %>
		    <%= check_box_tag 'c3b', '1' %></li>
			<li><%= label_tag '3c', 'The video content is consistent with the theme of the competition.' %>
		    <%= check_box_tag 'c3c', '1' %></li>
			</ol>
		</li>

    </ol>

    <%= hidden_field_tag 'review_action', '0'%>
    <%= hidden_field_tag 'vid', @video.id%>

    <%= submit_tag 'Pending' %>
    <%= submit_tag 'Deny' %>
    <%= submit_tag 'Approve', disabled: true%>

    <% end %>
    <div class="clear"> </div>
    <div class="clear"> </div>
</div>