<div class="video-vote">
  <%= link_to '#', title: "like", class: "like", url: like_video_path(id: video.id, competition_id: competition_id) do %>
    <span>Upvote</span>
  <% end %>
  <span class="like-vote-<%= video.id %>"><%= video.get_upvotes(vote_scope: "competition_" + competition_id.to_s).size %></span>
 </div>
<div class="video-vote">
  <%= link_to '#', title: "unlike", class: "unlike", url: unlike_video_path(id: video.id, competition_id: competition_id) do %>
    <span>Downvote</span>
  <% end %>
  <span class="unlike-vote-<%= video.id %>"><%= video.get_downvotes(vote_scope: "competition_" + competition_id.to_s).size %></span>
</div>