<div class="video-vote">
  <%= link_to image_tag("dislike.png", size: "32x32", alt: "like"), '#', title: "unlike", class: "unlike", url: unlike_video_path(id: video.id, competition_id: competition_id) %>
  <span class="unlike-vote-<%= video.id %>"><%= video.get_downvotes(vote_scope: "competition_" + competition_id.to_s).size %></span>
</div>

<div class="video-vote">
<span>Vote for this video: </span>
  <%= link_to image_tag("like.png", size: "32x32", alt: "like"), '#', title: "like", class: "like", url: like_video_path(id: video.id, competition_id: competition_id) %>
  <span class="like-vote-<%= video.id %>"><%= video.get_upvotes(vote_scope: "competition_" + competition_id.to_s).size %></span>
 </div>
