<!DOCTYPE HTML>
	<head>
		<title>CucuCity</title>
		  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
		  
		  <%= stylesheet_link_tag 'stylesheet', media: 'all', 'data-turbolinks-track' => true %>
	</head>
	<body>
			
				<div class="right-content-heading">
					<div class="right-content-heading-left">
						<h3>Trending Videos</h3>
					</div>
					<div class="right-content-heading-right">
						<div class="social-icons">
			                <ul>
			                    <li><a class="facebook" href="#" target="_blank"></a></li>
			                    <li><a class="twitter" href="#" target="_blank"></a></li>
			                    <li><a class="googleplus" href="#" target="_blank"></a></li>
			                    <li><a class="pinterest" href="#" target="_blank"></a></li>
			                    <li><a class="dribbble" href="#" target="_blank"></a></li>
			                    <li><a class="vimeo" href="#" target="_blank"></a></li>
			                </ul>
					</div>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="content-grids">
							<ul class="video-browsing">
							  <% @videos.each do |v| %>
							 	<div class="content-grid">
									<%= link_to image_tag(v.c_poster_url), "#{videos_path}/#{v.id}", title: v.title, class: "video-link" %>
									<h3><%= v.title %></h3>
									<%= link_to "Watch now", "#{videos_path}/#{v.id}", title: v.title, class: "button" %>
								</div>
							  <% end %>
							</ul>
					<div class="clear"> </div>
					<div class="pagenation">
						<%= will_paginate @videos %>		
					</div>
					<div class="clear"> </div>
				</div>
			
	</body>
</html>

<h1>Video Browsing</h1>
<% if current_user %>
  <%= hidden_field_tag(id = 'user-info', value = current_user.id, options = {}) %>
<% end %>
<%= will_paginate @videos %>
<ul class="video-browsing">
  <% @videos.each do |v| %>
    <li>
      <div class="video-poster">
        <%= link_to image_tag(v.c_poster_url), "#{videos_path}/#{v.id}", title: v.title, class: "video-link" %>
      </div>
      <div class="video-rate"><%= rating_for v, "entertainment", { readonly: true } %></div>
      <%= render partial: "voting", locals: {video: v} %>
    </li>
  <% end %>
</ul>
<%= will_paginate @videos %>