<!DOCTYPE HTML>
	<head>
		<title>CucuCity</title>
		  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
		  <%= stylesheet_link_tag 'stylesheet', media: 'all', 'data-turbolinks-track' => true %>
	</head>
	<body>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><%= link_to image_tag('logo.png',height: '70px'), title: 'logo' %></a>
				</div>
				<div class="top-menu">
					
					<div class="search">
						<form>
							<input type="text" class="textbox" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
							<input type="submit" value=" " />
						</form>
					</div>
					<div class="top-nav">
						<ul>
							<li><a href="#">Trending</a></li>
							<li><a href="#">Compete</a></li>
							<li><a href="#">About</a></li>
							<% if current_user %>
    							<li><%= link_to "logout", logout_path %></li>
  							<% else %>
  								<li><%= link_to "login", login_path %></li>
  							<% end %>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="main-content">
			<div class="wrap">
			<div class="left-sidebar">
				<div class="sidebar-boxs">
					
					<div class="clear"> </div>
					<div class="type-videos">
						<h3>Active Competitions</h3>
						<ul>
							<li><a href="#">Competition 1</a></li>
							<li><a href="#">Competition 2</a></li>
							<li><a href="#">Competition 3</a></li>
							<li><a href="#">Competition 4</a></li>
							<li><a href="#">Competition 5</a></li>
							<li><a href="#">Competition 6</a></li>
							<li><a href="#">Competition 7</a></li>
							<li><a href="#">Competition 8</a></li>
							<li><a href="#">Competition 9</a></li>
							<li><a href="#">Competition 10</a></li>
							<li><a href="#">Competition 11</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right-content">
				<div class="right-content-heading">
					<div class="right-content-heading-left">
						<h3>Trending Videos</h3>
					</div>
					<div class="right-content-heading-right">
						<div class="social-icons">
			                <ul>
			                    <li><a class="facebook" href="#" target="_blank"></a></li>
			                    <li><a class="twitter" href="#" target="_blank"></a></li>
			                    <li><a class="googleplus" href="#" target="_blank"></a></li>
			                    <li><a class="pinterest" href="#" target="_blank"></a></li>
			                    <li><a class="dribbble" href="#" target="_blank"></a></li>
			                    <li><a class="vimeo" href="#" target="_blank"></a></li>
			                </ul>
					</div>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="content-grids">
							<ul class="video-browsing">
							  <% @videos.each do |v| %>
							 	<div class="content-grid">
									<%= link_to image_tag(v.c_poster_url), "#{videos_path}/#{v.id}", title: v.title, class: "video-link" %>
									<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
									<ul>
										<li><a href="#"><%= link_to image_tag('likes.png'), title: 'likes' %></a></li>
										<li><a href="#"><%= link_to image_tag('views.png'), title: 'views' %></a></li>
										<li><a href="#"><%= link_to image_tag('link.png'), title: 'link' %></a></li>
									</ul>
									<a class="button" href="singlepage.html">Watch now</a>
								</div>
							  <% end %>
							</ul>
					<div class="clear"> </div>
					<div class="pagenation">
						<%= will_paginate @videos %>		
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="copy-right">
			<p>Copyright 2016. All Rights Reserved</p>
		</div>
	</body>
</html>

<h1>Video Browsing</h1>
<% if current_user %>
  <%= hidden_field_tag(id = 'user-info', value = current_user.id, options = {}) %>
<% end %>
<%= will_paginate @videos %>
<ul class="video-browsing">
  <% @videos.each do |v| %>
    <li>
      <div class="video-poster">
        <%= link_to image_tag(v.c_poster_url), "#{videos_path}/#{v.id}", title: v.title, class: "video-link" %>
      </div>
      <div class="video-rate"><%= rating_for v, "entertainment", { readonly: true } %></div>
      <%= render partial: "voting", locals: {video: v} %>
    </li>
  <% end %>
</ul>
<%= will_paginate @videos %>