<div class="right-content-heading">
	<div class="right-content-heading-left">
		<% if @is_search %>
		<h3>Search Results for <span class="keyword">"<%= @param%>"</span></h3>
		<% else %>
		<h3>Trending Videos</h3>
		<% end %>
	</div>
	<div class="right-content-heading-right">
		<div class="social-icons">
			<ul>
				<li><a class="facebook" href="#" target="_blank"></a></li>
				<li><a class="twitter" href="#" target="_blank"></a></li>
				<li><a class="googleplus" href="#" target="_blank"></a></li>
				<li><a class="pinterest" href="#" target="_blank"></a></li>
				<li><a class="dribbble" href="#" target="_blank"></a></li>
				<li><a class="vimeo" href="#" target="_blank"></a></li>
			</ul>
		</div>
	</div>
	<div class="clear"> </div>
</div>


<% if !@is_search %>	
	<div class="video-show" style="@import url(https://fonts.googleapis.com/css?family=Roboto:300); background:#e4e2e9; margin-bottom:20px;  font-family: 'Roboto', sans-serif; padding: 10px">
  		<h3>Welcome to CucuCity</h3> <br>
  		The website that makes you laugh, smile and cry in under 30 seconds! You can check out <%= link_to "videos which are trending", root_path %> or <%= link_to "participate in a competition", competitions_path %> by <%= link_to "uploading your own video", upload_videos_path %> and win prize money. You can also vote for videos that you like by exploring competitions on the left in order to determine the winner of each competition.
	</div>
<% end %>

<div class="content-grids">
	<ul class="video-browsing">
		<% if @videos.count == 0 %>
			<div>
				<span>There is no videos matching the search keyword "<%= @param%>"</span>
			</div>
		<% else %>
			<% @videos.each do |v| %>
			<div class="content-grid">
				<%= link_to image_tag(full_url(v.poster_url)), "#{videos_path}/#{v.id}", title: v.title, class: "video-link", data: { no_turbolink: true } %>
				<h3><%= v.title %></h3>
				<%= link_to "Watch now", "#{videos_path}/#{v.id}", title: v.title, class: "button", data: { no_turbolink: true } %>
			</div>
			<% end %>
		<% end %>
	</ul>
	<div class="clear"> </div>
	<%= will_paginate @videos %>
	<div class="clear"> </div>
</div>