<div class="right-content-heading">
  <div class="right-content-heading-left">
    <h3><%= @video.title%></h3>
  </div>
  <div class="right-content-heading-right">
    <div class="social-icons">
      <ul>
        <li><a class="facebook" href="#" target="_blank"> </a></li>
        <li><a class="twitter" href="#" target="_blank"></a></li>
        <li><a class="googleplus" href="#" target="_blank"></a></li>
        <li><a class="pinterest" href="#" target="_blank"></a></li>
        <li><a class="dribbble" href="#" target="_blank"></a></li>
        <li><a class="vimeo" href="#" target="_blank"></a></li>
      </ul>
    </div>
  </div>
  <div class="clear"> </div>
</div>

<div class="inner-page">
    <div class="video-detail">
      <video id="myVideo" class="video-js video-in-detail vjs-big-play-centered" controls preload="auto" width="700" height="350"
      poster="<%= full_url(@video.poster_url)%>" data-setup="{}">
      <source src="<%= full_url(@video.video_url)%>" type="video/mp4">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>

      <div class="rate-and-vote">
        <% if !@competition%>
        <div class="video-rate"><%= rating_for @video, "entertainment" %></div>
        <% else %>
        <%= render partial: "voting", locals: {video: @video, competition_id: @competition.id} %>
        <% end %>
      </div>

    </div>
    <% if current_user %>
    <%= hidden_field_tag(id = 'user-info', value = current_user.id, options = {}) %>
    <% end %>
  <div class="clear"> </div>
  <div class="video-details">
    <h1>Video Information: </h1><hr>
    <ul>
      <li><p>Uploaded on <%= @video.created_at %> by <!--<a href="#">-->@<%= @uploader.username %><!--</a>--></p></li>
      <li><span><%= @video.video_desc %></span></li>
    </ul>
  </div>
  <div class="clear"> </div>
  <div class="tags">
    <ul>
      <li><h3>Tags:</h3></li>

      <% @video.tags.split(",").each do |tag| %>
      <li><span class="tag"><%= link_to tag, :controller => "videos", :search => tag, :utf8 => "✓"%></span></li>
      <% end %>
    </ul>
  </div>
  <% if @competition%>
  <div class="competition-info tags">
    <ul>
      <li><h3><br/>Competition Information:</h3></li>
    </ul>
    <div class="comp-desc-left">
      <p>
        <img src="<%= full_url(@competition.poster) %>"/>
      </p>
    </div>
    <div class="comp-desc-right">
      <p id="notice"><%= notice %></p>
        </p>
      <p>
        <strong>Desc:</strong>
        <%= @competition.desc %>
      </p>

      <p>
        <strong>Start date:</strong>
        <%= @competition.start_date %>
      </p>

      <p>
        <strong>Period:</strong>
        <%= @competition.period %>
      </p>

      <p>
        <strong>Prize:</strong>
        <%= @competition.prize %>
      </p>

      <p>
        <strong>Prize num:</strong>
        <%= @competition.prize_num %>
      </p>
      
    </div>
  </div>
  <% end%>
  <div class="clear"> </div>
  
</div>